// sizes
$height: 2.25rem !default;
$min-width: 4rem !default;
$border-radius: 0.25rem !default;

// elevation
$box-shadow: 0 .125rem .25rem rgba(#000, .075) !default;
$box-shadow-hover: 0 .5rem 1rem rgba(#000, 0.15) !default;

// padding & margin
$padding-horizontal: 1rem !default;
