@use './variables';

html, body {
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

[data-layout], [data-page] {
  opacity: 1;
  transition: opacity 250ms linear;

  &.page-unmount {
    opacity: 0;
  }
}

.main-card {
  max-width: variables.$main-card-max-width;
  margin: 
    variables.$main-card-margin-top
    variables.$main-card-margin-horizontal
    variables.$main-card-margin-bottom;

  &-service-icon {
    width: variables.$main-card-service-icon-width;
    height: variables.$main-card-service-icon-height;
    fill: currentColor;
  }
}

[data-button="scroll-top"] {
  position: fixed;
  bottom: variables.$btn-scroll-top-bottom;
  right: variables.$btn-scroll-top-right;
  border-radius: variables.$btn-scroll-top-border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  width: variables.$btn-scroll-top-width;
  height: variables.$btn-scroll-top-height;
  padding: unset;
  margin: unset;
  transform: scale(1);
  transition: transform 250ms linear;

  &.btn-exited {
    transform: scale(0);
  }
}
